#app{
  padding: 0px;
}
.row {
  margin: 0px;
}
.navbar {
  box-shadow: inset 0px -1px 0px #E5E5E5;
}
.navbar-nav {
  width: 50%;
}
.navbar .cross {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: url("../img/navbar-cross.svg") center center no-repeat;
}
.nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #5F5F5F !important;
  text-align: left;
}
.nav-link.active {
  color: #0F0F0F !important;
}
.nav-link.disabled {
  color: #A5A5A5 !important;
}
.nav-link:not(:last-child)::after {
  /*line-height: 20px;*/
  margin-bottom: -1px;
  margin-left: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/arrow_right.svg");
}
.navbar .next-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 15px 6px 15px;
  background: #E5E5E5;
  border-radius: 4px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #A5A5A5;
}
.navbar .next-btn.active {
  background: #3A75FF;
  color: #FFFFFF;
}
.container-form {
  max-width: 760px;
  margin: 0 auto;
}
.container-form .col.nopad {
  padding: 0px;
}
.container-form .nopad h3 {
  padding: 0px  12px;
}
.container-form__preview-btn {
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #D5D5D5;
  display: inline-block;
  padding: 4px 25px 4px 8px;
  margin-top: 6px;
  background: url("../img/preview-btn.svg") right no-repeat;
}
.container-form h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #2F2F2F;
}
.container-form label, .step-block__label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #5F5F5F;
}
.container-form__add-step {
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #D5D5D5;
  display: inline-block;
  padding-left: 24px;
  margin-top: 14px;
  margin-bottom: 20px;
}
.container-form__add-step:before {
  cursor: pointer;
  font-size: 26px;
  content: "+";
  position: relative;
  bottom: -3px;
  font-weight: 300;
  margin-right: 4px;
}

.container-form__add-step.active {
  color: #3A75FF;
}
.container-form .required:after {
  content: " *";
  color: red
}
.step-block {
  margin-top: 10px;
  background: #F5F5F5;
}
.step-block__panel {
  height: 40px;
  box-shadow: inset 0px -1px 0px #E5E5E5;
  display: flex;
}
.step-block__col {
  display: flex;
  width: 33%;
}
.step-block__step-num {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  color: #5F5F5F;
}
.step-block__arrow-down, .step-block__arrow-up, .step-block__delete-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.step-block__arrow-down {
  background-image: url("../img/arrow-down.svg");
}
.step-block__arrow-up {
  background-image: url("../img/arrow-up.svg");
}
.step-block__delete-btn {
  background-image: url("../img/trash.svg");
}
.step-block__time-group{
  width: 160px;
}
.step-block__addsomething {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #5F5F5F;
  margin-top: 8px;
  margin-bottom: 14px;
  cursor: pointer;
}
.step-block__addsomething:before {
  cursor: pointer;
  font-size: 26px;
  content: "+";
  position: relative;
  bottom: -2px;
  font-weight: 200;
  margin-right: 4px;
}

.kcustom-navbar__toggler {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #0F0F0F !important;
  border: none;

  padding-right: 17px;
}
.kcustom-navbar__toggler:after {
  display: inline-block;
  width: 15px;
  height: 8px;
  content: " ";
  background: url("../img/toggle-down.svg") right no-repeat;
}
.kcustom-navbar__toggler.hide:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.kcustom-navbar__toggler.hide span {
  display: none;
}
@media only screen and (max-width: 600px) {
  .nav-link:not(:last-child)::after {
    background: none;
  }
}
.container-form input {
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
}

.quill-style {
  width: 100%;
  height: fit-content;
  min-height: 136px;
  border: 1px solid #5F5F5F;
  box-sizing: border-box;
  border-radius: 4.8px;
}
.ql-container {
  height: 94px;
  border-radius: 0px 0px 3px 3px;
  background: white;
}
.ql-toolbar {
  background: #E5E5E5;
  border-radius: 3px 3px 0px 0px;
}