<template>
  <div class="container-form">
    <div class="row">
      <div class="col text-center">
        <div class="container-form__preview-btn">
          Превью
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <h3>С чего начать</h3>

        <label for="check-list"
               class="required">Чек лист</label>
        <div class="input-group mb-3">
          <quill-editor class="quill-style"
                        id="check-list"
                        v-model="Task.checklist"
                        :options="editorOption" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col nopad text-left">
        <h3 class="required">Шаги реализации</h3>
        <step v-for="(step, index) in Task.steps"
              :step="step"
               :key="index"
               :stepIndex="index"/>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div class="container-form__add-step"
             :class="{ active: showAddStep}"
             @click="addStep">Добавить</div>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <h3>Качество</h3>
        <label class="required">Критерии качества стандарта</label>
        <div v-for="(item, index) in Task.criteria"
             :key="'criteria-' + index"
             class="input-group mb-3">
          <input  type="text"
                  v-model="Task.criteria[index]"
                  class="form-control"
                  required />
        </div>
        <div class="step-block__addsomething"
             :disabled="true"
             @click="addItem('criteria')">Добавить</div>

        <label class="required">Типовые ошибки</label>
        <div v-for="(item, index) in Task.errors"
             :key="'errors-' + index"
             class="input-group mb-3">
          <input type="text"
                  v-model="Task.errors[index]"
                  class="form-control"
                  required />
        </div>
        <div class="step-block__addsomething" @click="addItem('errors')">Добавить</div>
      </div>
    </div>
  </div>

</template>

<script>
  import step from "@/components/step";
  export default {
    name: "executor",
    props: {
      Task: Object
    },
    components: {step},
    data () {
      return {
        editorOption: {
          modules: {
            toolbar: [
              ['bold', 'italic'],
              [{ 'header': 1 }, { 'header': 2 }],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              ['link', 'image']
            ]
          }
        }
      }
    },
    computed: {
      showAddStep () {
        let lastIndex = this.Task.steps.length-1
        return this.Task.steps[lastIndex].title.length>0
          && this.Task.steps[lastIndex].desc.length>0
          && this.Task.steps[lastIndex].hours[0]!=='00:00:00'
      }
    },
    methods: {
      addItem (type) {
        this.$store.dispatch("ADD_ITEM", type)
      },
      addStep () {
        if (this.showAddStep) {
          this.$store.dispatch("ADD_STEP")
        }

      }
    }
  }
</script>

<style scoped>

</style>