<template>
  <nav class="kcustom-navbar navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand cross"></a>
    <div class="kcustom-navbar__toggler navbar-toggler" ref="navbarToggler"
         @click="toggleMenu()">
      <span>{{ currentPage }}</span>
    </div>
    <div class="collapse navbar-collapse" ref="navbarCollapse">
      <div class="navbar-nav">
        <a v-for="item in menu"
           :key="item.title"
           class="nav-link"
           :class="{ disabled: item.disable, active: item.title === currentPage }"
           href="#">{{ item.title }}</a>
      </div>
    </div>
    <button class="btn my-2 my-sm-0 next-btn"
            :class="{ active: showNextBtn }"
            type="submit">Далее</button>
  </nav>
</template>

<script>
  export default {
    name: "navbar",
    props: { showNextBtn: Boolean },
    data () {
      return {
        menu: [
          { title: 'Общее', disable: false},
          { title: 'Бриф', disable: false},
          { title: 'Доступы', disable: false},
          { title: 'Исполнителю', disable: false},
          { title: 'Заказчику', disable: true},
          { title: 'Цены', disable: true},
        ],
        currentPage: 'Исполнителю'
      }
    },
    methods: {
      toggleMenu() {
        if (this.$refs.navbarCollapse.classList.contains('show')) {
          this.$refs.navbarCollapse.classList.remove('show')
          this.$refs.navbarToggler.classList.remove('hide')
        } else {
          this.$refs.navbarCollapse.classList.add('show')
          this.$refs.navbarToggler.classList.add('hide')
        }

      }
    }
  }
</script>

<style scoped>
.navbar-collapse {
  text-align: center;
}
.navbar-nav {
  margin: 0 auto;
}
</style>