<template>
  <div class="step-block container">
    <div class="step-block__panel row">
      <div class="col text-left">
        <div class="step-block__arrow-up"
             @click="moveUp(stepIndex)">
        </div>
        <div class="step-block__arrow-down"
             @click="moveDown(stepIndex)">
        </div>
      </div>
      <div class="col text-center">
        <div class="step-block__step-num">
          #{{ stepIndex + 1}}
        </div>
      </div>
      <div class="col text-right">
        <div class="step-block__delete-btn"
             @click="removeStep(stepIndex)">
        </div>
      </div>
    </div>
    <div class="step-block__content">
      <div class="row">
        <div class="col">
          <label class="">Название шага</label>
          <div class="input-group mb-3">
            <input  type="text"
                    v-model="step.title"
                    class="form-control"
                    required />
          </div>

          <label class="">Подробное описание шага</label>
          <div class="input-group mb-3">
            <quill-editor class="quill-style"
                          v-model="step.desc"
                          :options="editorOption" />
          </div>

          <div class="step-block__hours-block">
            <label class="">Трудозатраты</label>
            <div v-for="(hours, index) in step.hours"
                 :key="index"
                 class="input-group mb-3 step-block__time-group">
              <input  type="time"
                      step="2"
                      v-model="step.hours[index]"
                      class="form-control"
                      required />
            </div>
          </div>
          <div class="step-block__label">Трудозатраты</div>
          <div class="step-block__addsomething" @click="addHours()">Добавить</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "step",
    props: {
      step: Object,
      stepIndex: Number
    },
    data () {
      return {
        editorOption: {
          modules: {
            toolbar: [
              ['bold', 'italic'],
              [{ 'header': 1 }, { 'header': 2 }],
              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
              ['link', 'image']
            ]
          }
        }
      }
    },
    methods: {
      addHours () {
        this.$store.dispatch('ADD_HOURS', this.stepIndex)
      },
      moveUp (index) {
        this.$store.dispatch('MOVE_UP_STEP', index)
      },
      moveDown (index) {
        this.$store.dispatch('MOVE_DOWN_STEP', index)
      },
      removeStep (index) {
        this.$store.dispatch('REMOVE_STEP', index)
      }
    }
  }
</script>

<style scoped>
.quill-style {
  border: 1px solid #D5D5D5;
}
</style>