<template>
  <div id="app"
       class="container-fluid">
    <navbar :showNextBtn="showNextBtn"/>
    <executor :Task="Task"/>
  </div>
</template>

<script>
import Navbar from "@/components/navbar";
import Executor from "@/components/executor";
export default {
  name: 'App',
  components: {Executor, Navbar},
  data () {
    return {
    }
  },
  computed: {
    Task () {
      return this.$store.state.Task
    },
    showNextBtn () {
      return this.Task.checklist.length > 0
        && this.Task.errors[0].length > 0
        && this.Task.criteria[0].length > 0
        && this.Task.steps[0].title.length>0
        && this.Task.steps[0].desc.length>0
        && this.Task.steps[0].hours[0]!=='00:00:00'
    }
  }
}
</script>

<style>

</style>
